@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    background-color: #ECF0F1;
    overflow-x: scroll;
}
.table{
    border-collapse : collapse;
    width: 100rem;
    overflow-x: scroll;
}
tr,th{
    width: 5rem;
    border: 1px solid gray;
}
td{
    width: 3.75%;
    border: 1px solid gray;
}
td:focus{
   outline: none;
}
.bold:hover{
    cursor: pointer;
}
.italic:hover{
    cursor: pointer;
}
.underlined:hover{
    cursor: pointer;
}
#left-align:hover{
    cursor: pointer;
}
#right-align{
    cursor: pointer;
}
#center-align{
    cursor: pointer;
}
#navbar{
    width: 100rem;
    height: 60px;
    background-color:#49ab95;
    display: flex;
    align-items: end;
    /* padding-top: 10px; */
    padding-left: 40px;
    gap: 40px;
    /* padding-bottom: 10px; */
    color: white;
}
#nav{
    background-color: white;
    color:#49ab95;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
}
.nav-item{
    padding-bottom: 10px;
}
#container{
    background-color: #ECF0F1;
    height: 100px;
    width: 100%;
}
#copyCont{
    display: flex;
    gap: 20px;
    padding-left: 30px;
    padding-top: 20px;
    float: left;
}
#fontFamily,#fontSize{
    float: left;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
#styleCont{
    display: flex;
    gap: 15px;
    float: left;
    padding: 5px;
    margin-top: 15px;
    margin-left: 20px;
}
#styleFontb,#styleFonti,#styleFontu{
    font-size: 30px;
}
#alignCont{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
#textColor{
    position: relative;
    /* left: 49.65%; */
    right: 54.35%;
    opacity: 0;
    width: 20px;
}
#bgColor{
    position: relative;
    /* left: 53.10%; */
    opacity: 0;
    right: 54%;
    width: 22px;
}
#dowupCont{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
#dowupCont span{
    font-size: 30px;
}

#colorCont{
    display: flex;
    flex-flow: row wrap;
    /* gap: 10px; */
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
}
#currCellVal{
width: 5%;
height: 25px;
margin-left: 30px;
margin-top: 13px;
margin-bottom: 10px;
margin-right: 20px;
padding-top:3px;
font-size: 20px;
font-weight: 600;
text-align: center;
background-color: white;
}
#searchCont{
    background-color: #ECF0F1;
    display: flex;
    align-items: center;
    width: 100%;
}
#textArea{
    width: 100%;
}
#search{
    width: 95%;
}
#search:focus{
    outline: none;
}

#jsonFile{
    /* display: none; */
    position: relative;
    /* left: 53.10%; */
    opacity: 0;
    right: 9%;
    width: 22px;

}

@media  (max-width: 765px) {
    .table{
        border-collapse : collapse;
        width: 100%;
    }
    tr,th,td{
        width: 3rem;
        border: 1px solid black;
    }
    td{
        width: 10px;
    }
    #container{
        background-color: #ECF0F1;
        display: flex;
        flex-flow: row wrap;
        height: auto;
        width: 100%;
    }
    
}